body {
  background-image: url('img/otis_redding.png');
  font-family: 'Dosis', Arial, sans-serif;
  font-weight: 200;
}

.container {
  margin-top: 30px;
}

.sidebar {
  margin-left: 40px;
  float: left;
}

h1, h2 {
  font-weight: 200;
  font-family: 'Dosis', Arial, sans-serif;
}

ul {
  list-style: none;
  font-size: 1.3em;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: orange;
}

rect {
  fill: none;
  stroke: #130a57;
  stroke-width: 2.5px;
}

.square:nth-child(2n + 1) rect {
  stroke: orange;
}

.svg {
  float: left;
}

a[title]:hover:after {
  content: attr(title);
  padding: 4px 8px;
  color: #333;
  position: absolute;
  left: 40px;
  top: 350px;
  white-space: nowrap;
  z-index: 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 4px #222;
  -webkit-box-shadow: 0px 0px 4px #222;
  box-shadow: 0px 0px 4px #222;
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
}